{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block title %} RoteiroApp {% endblock title %}</title>
</head>
<body>
    <a href="{% url 'core:home' %}" ><img src="{% static 'img/menu.png' %}" width="200" height="60" /></a>
    <br />
    <nav>
        <br />
        <a href="{% url 'categories:list_categories' %}" ><button onclick="mudarCor()">Categorias</button></a>
        <a href="{% url 'products:list_products' %}" ><button onclick="alertarMensagem()">Produtos</button></a>
        <a href="#" ><button onclick="alertarMensagem()">Clientes</button></a>
        <a href="#" ><button onclick="alertarMensagem()">Pedidos</button></a>

        <br />
    </nav>

    {% block body %}
    
    {% endblock body %}
    
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
